name: Test Project
on:
  push:
    paths-ignore:
      - '.github/workflows/*'
  workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/checkout@v3
          - name: Set up Python 3.10
            uses: actions/setup-python@v4
            with:
              python-version: 3.10.12
          - name: Run script
            id: run-foo-output
            run: |
              python -m src/foo_output.py
          - name: Save data
            uses: actions/upload-artifact@v3
            with:
              name: data-files
              path: data
    upload:
        needs: build
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/checkout@v3
          - name: Get build artifacts
            uses: actions/download-artifact@v3
            with:
              name: data-files
              path: ./data
          - name: Output contents
            run: ls
          - name: Upload s3
            id: upload-s3
            uses: ./.github/actions/s3-docker
            env:
              AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
              AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            with:
              bucket: my-github-actions
              dist-folder: ./dist
              # bucket-region: us-east-2
